* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 336px;
  height: 262px;
  overflow: hidden;
  background-color: #1a1a2e;
  color: #eee;
  font-family: system-ui, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 100%;
  height: 100%;
}

#start,
#finish {
  background-color: greenyellow;
  background-image: url("../assets/img/grass.png");
  width: 100%;
  height: 100%;
}

#river {
  position: relative;
  background-image: url("../assets/img/water.png");
  width: 100%;
  height: 100%;
  
}

#current {
  background-color: rgba(255,0,0,0.25);
  transform: translateX(0%);
  width: 25%;
  height: 100%;
}

#flow {
  background-color: rgb(255, 183, 0);
  top: 0;
  width: 100%;
  height: 100%;
}

#cursor-container {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  transform: translateX(0) translateY(0);
}
#cursor {
  background-color: greenyellow;
  border-radius: 100%;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  transform:  scale(1) translateX(0) translateY(-5px);
  transition: all 0.15s ease-in-out;
  box-shadow: 1px 5px 5px rgba(0,0,0,0.25);
  opacity: 0.25; /* debug */
}

#cursor.isPlacing {
  box-shadow: 0 0 0 greenyellow;
  transform: scale(0.9) translateY(0px);
}

#cursor.isDisabled {
  background-color: salmon;
}

#platforms {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.platform {
  background-color: cadetblue;
  border-radius: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
}

.duck {
  background-color: yellow;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  transform: translateX(0) translateY(0);
  transition: all 0.075s ease-in-out;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4a4a6a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5a5a7a;
}
